body {
    background-color: #f0f4f7;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #game {
    width: 800px;
    height: 600px;
    border: 3px solid #8bc34a;
    background: #ffffff;
  }
  